/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

$primary-color: color("amber", "darken-1");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("light-blue", "accent-2");
$success-color: color("green", "base");
$error-color: color("red", "base");

$link-color: color("light-blue", "darken-1");

$card-link-color: $secondary-color;

.primary-color  {
  background-color: #{$primary-color} !important;
}
.primary-color-text  {
  color: #{$primary-color} !important;
}

.secondary-color  {
  background-color: #{$secondary-color} !important;
}
.secondary-color-text  {
  color: #{$secondary-color} !important;
}

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name}-hover {
        &:hover {
          background-color: $color_value;
        }
      }
    }
    @else {
      .#{$color_name}-hover.#{$color_type} {
        &:hover {
          background-color: $color_value !important;
        }
      }
    }
  }
}
