nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: $navbar-height;
  line-height: $navbar-height;
}
.navbar-fixed {
  height: $navbar-height;
}

@media #{$medium-and-down} {
  nav .dropdown-content li > a, nav .dropdown-content li > span {
    padding: 0;
  }
}

